<a href="#" class="beButton">be</a>

.beButton {
	background-color:#44c767;
	border-radius:23px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:22px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
 	position:absolute; 
   	margin-left:47%;   
   	width:150px;
   	bottom:280px;
	
}
.beButton:hover {
	background-color:#5cbf2a;
}
.beButton:active {
	position:relative;
	top:1px;
}

        