  #days {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #days td, #days th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #days tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #days tr:hover {
            background-color: #ddd;
        }

        #days th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;

        }
